* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #282d35;
  color: #fff;
  font-family: Inter, sans-serif;
}

header {
  background-color: #21222a;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.nav {
  display: flex;
}

ul,
h1 {
  margin: 2rem;
}

li {
  padding-bottom: 0.67rem;
  width: 90%;
}

li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

main {
  background-image: url("./images/reactjs-icon.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

img {
  width: 2.5rem;
}

h2 {
  color: #61dafb;
}

h3 {
  color: #deebf8;
  font-size: 1rem;
  font-weight: 600;
}
